// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #9cdbee;
$yellow: #ffeb92;
$orange: #E67E22;
$green: #1EDD88;
$white: #f7fdff;
$lightblue: #f1fcff;
$lightbluedark: #bad3db;
$gray: #cfcfcf;
$darkblue: #295b69;
$black: #060d0f;
