<div class="my-footer">
  <div class="cta-cleaner-container">
  <h3>We are looking to grow our team</h3>
  <div class="my-cta-cleaner-button">
    <%= link_to root_path do %>
      <h5>BECOME A CLEANER</h5>
    <% end %>
  </div>
</div>
  <div class="footer-up">
    <div class="footer-up-left">
      <%= image_tag "logo.png" %>
      <h3>CleanersApp</h3>
    </div>
    <div class="footer-up-right">
      <div class="footer-column">
        <h5>QUICK LINKS</h5>
        <p>Home</p>
        <p>About Us</p>
        <p>Become a Cleaner</p>
        <p>FAQ</p>
        <p>Contact Us</p>
      </div>
      <div class="footer-column">
        <h5>CONTACT</h5>
        <p>P: +33785689234</p>
        <p>E: enquiry@cleanersapp.com</p>
        <p>P: +33785689234</p>
      </div>
      <div class="footer-column">
        <h5>LOCATION</h5>
        <p>Ostender Strasse, 3A</p>
        <p>13353, Berlin</p>
        <p>Germany</p>
      </div>
      <div class="footer-column">
        <h5>OPENING HOURS</h5>
        <p>Mon — Tues, closed</p>
        <p>Wed — Sat, 12pm - 6pm</p>
        <p>Sun —  12pm - 3pm</p>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <div class="footer-socials">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <p>Built with ❤️ by GDrevo 😊</p>
  </div>
</div>
