.appointment-container {
  margin: 100px;
  margin-left: 10%;
  margin-right: 10%;
  h1, h3 {
    text-align: center;
  }
  h3 {
    margin-bottom: 50px;
  }
}

.cleaner-box {
  height: 30px;
  min-width: 100px;
}

.app-form-container {
  display: flex;
  margin-bottom: 25px;
}

.app-form-text {
  width: 33%;
  padding: 50px;
}

.app-form-form {
  width: 67%;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
  fieldset {
    display: flex;
  }
}

.app-form-checkin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
  .app-form-checkin, .app-form-checkout {
    width: 48%;
  }
}

.app-form-checkin-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .app-form-checkin {
    width: 50%;

  }
  .app-form-checkout {
    width: 50%;
  }
}

.space-between {
  justify-content: space-between !important;
}

.form-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 400px;
  input {
    margin: 0 !important;
    background-image: none !important;
    width: 100%;
    height: 50px;
    border-radius: 5px;
  }
  label {
    margin-top: 10px;
  }
}

.form-control, .form-select, .form-check-input {
  background-color: $gray;
}

.col-form-label {
  float: unset;
}

.form-submit-part {
  width: 67%;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
}

.app-form-form-confirm {
  display: flex;
  flex-wrap: wrap;
}

.confirm-division {
  width: 33%;
  margin-bottom: 25px;
  h4 {
    font-weight: bold;
  }
}
.submit-form-button {
  // position: absolute;
  // right: 10%;
  background-color: $blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  padding-top: 8px;
  border: 0;
  border-radius: 5px;
  width: 20%;
}

#appointment_pack_check_inout, #appointment_check_type_check_in, #appointment_rooms_1, #appointment_service_basic {
  border-radius: 5px 0 0 5px;
}

#appointment_pack_cleaning, #appointment_check_type_check_out, #appointment_rooms_2, #appointment_rooms_3, #appointment_rooms_4, #appointment_rooms_5, #appointment_service_medium {
  border-radius: 0;
}

#appointment_pack_both, #appointment_check_type_check_in__out, #appointment_rooms_6, #appointment_service_premium {
  border-radius: 0 5px 5px 0;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}
