<div class="about-up">
  <div class="about-up-left">
    <h2>The CleanersApp Story</h2>
    <p>It all began in 2012 when we carried out a survey and came to the shocking realisation that  there was no easy way to book a cleaning service online from the comfort of your home. We then went from a basic online cleaning service to a  fully staffed cleaning company embracing tech!</p>
    <h3>Our Mission</h3>
    <p>To make homes clean and happy for our clients while building reputable careers for our team.</p>
    <p>We have a vow to provide fulfilling careers and better homes  for our cleaners and customers.</p>
  </div>
  <div class="about-up-right">
    <%= image_tag "about-1.png", alt: "Image" %>
  </div>
</div>
<div class="about-up-down">
  <p>In a world where unfair and dubious business practices is the order of the day (such as unpaid salary or overtime or pay  below minimum-wage), CleanersApp instead operates on responsible business practices. This means we employ our cleaners, affording them the rights and benefits that come with that, including paid travel time, paid overtime, payroll taxes, disability insurance, workers compensation, FLSA protections, health insurance, 401k matching, etc</p>
  <br>
  <p>Ultimately, we believe that our dual emphasis on customer experience and cleaner development is the reason why we have been able to deliver on hundreds of thousands of cleans and will always be the reason why we continue to clean, one home at a time.</p>
</div>
<div class="about-down">
  <div class="about-down-up">
    <div class="about-down-up-left">
      <%= image_tag "about-2.png", alt: "Image" %>
    </div>
    <div class="about-down-up-right">
      <h3>Our Promise</h3>
      <ul>
        <li>Never stop improving</li>
        <li>Provide the best affordable price</li>
        <li>Use Non-toxic Cleaning Products</li>
      </ul>
    </div>
  </div>
  <div class="about-down-down">
    <h3>Why Choose CleanersApp?</h3>
    <p>CleanersApp is trying to change the way house cleaning services work. We match homeowners with trusted cleaning professionals at rates that are more affordable than most other services. And you can administer it all online.</p>
    <br>
    <p>We believe this approach will make home cleaning more accessible and easier to manage while at the same time, it'll create work opportunities for professionals who love to clean.</p>
    <br>
    <p>At the end of the day, having a clean house relaxes you and frees-up your time to go do things that will make you happy. It is our mission to help you accomplish this in the most convenient and cost-effective way possible.</p>
  </div>
</div>
<div class="cta-book-container lighter-blue">
  <div class="cta-book-image-container">
    <%= image_tag "cta.png", alt: "Image" %>
  </div>
  <h3>Need regular cleaning for your House or Apartment?</h3>
  <div class="my-cta-book-button">
    <%= link_to root_path do %>
      <h5>BOOK TODAY</h5>
    <% end %>
  </div>
</div>
