.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $lightblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  img {
    width: 30px;
  }
  h3 {
    margin: 0;
    margin-left: 10px;
  }
}

.nav-item {
  margin: auto 0;
  list-style: none;
  width: 50%;
  text-align: end;
  img {
    width: 30px;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}
